.hero {
  width: 100%;
  height: auto;
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  .hero-text {
    padding: 20px;
    margin-left: 40px;
    p {
      color: #4e7660;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    h1 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    a {
      font-weight: 600;
      padding-bottom: 5px;
      border-bottom: 2px solid black;
    }
    a:hover {
      cursor: pointer;
    }
  }
}
