.ShopSection {
  padding: 85px 50px;

  .ShopSectionBoxes {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 340px 340px;
    gap: 20px;
    .ImageWithButton {
      &:first-child {
        grid-column: 1/2;
        grid-row: 1/3;
      }
      &:last-child {
        grid-column: 2/4;
      }
    }
  }
}
