@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "./components/index.scss";
@import "./Elements/index.scss";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
