/* Authentication.css */
.authentication-modal-signin {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .authentication-container {
    background-color: #fff;
    width: auto;
    margin: 0 auto;
    padding: 23px 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    position: relative;
    &:focus-visible {
      outline: none !important;
    }

    .Signin {
      display: flex;
      justify-content: center;
      h1 {
        margin-bottom: 20px;
        font-weight: 600;
      }
      svg {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 28px;
        color: #7e7e7e;
        &:hover {
          color: #222121;
        }
      }
    }
    p {
      color: #7e7e7e;
      font-size: 15px;
      margin-bottom: 25px;
      font-weight: 500;
      span {
        color: #222121;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;

      input {
        font-size: 16px;
        display: block;
        width: 360px;
        padding: 15px 20px;
        margin-bottom: 15px;
        border: none;
        border-radius: 4px;
        background-color: #f5f5f5;
        &:focus {
          outline: none;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          border: #4e7660 3px solid;
          opacity: 0.5;
        }
      }
      .password-container {
        position: relative;

        .eye-icon {
          position: absolute;
          right: 15px;
          top: 43%;
          transform: translateY(-50%);
          cursor: pointer;
          color: #7e7e7e;
          font-weight: 500;
        }
      }
    }
    .forgot-password {
      text-align: end;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .signin-button {
      background-color: black;
      color: #fff;
      font-size: 16px;
      width: 360px;
      padding: 15px 20px;
      margin-bottom: 15px;
      border: none;
      border-radius: 3px;
      &:hover {
        background-color: #4e7660;
        cursor: pointer;
        color: #fff;
      }
    }
    .or {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before,
      &::after {
        height: 0.5px;
        opacity: 0.5;
        margin: 0px 6px;
        flex: 1;
        background-color: #7e7e7e;
        content: "";
      }
    }
    .google-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: #fff;
      font-size: 16px;
      width: 360px;
      padding: 15px 20px;
      margin-bottom: 15px;
      border: none;
      border-radius: 3px;
      &:hover {
        background-color: #4e7660;
        cursor: pointer;
        color: #fff;
      }
      svg {
        margin: 0px 7px;
        font-size: 24px;
      }
    }
  }
}

.authentication-modal-signup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .authentication-container {
    background-color: #fff;
    width: auto;
    margin: 0 auto;
    padding: 23px 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    position: relative;
    &:focus-visible {
      outline: none !important;
    }

    .Signin {
      display: flex;
      justify-content: center;
      h1 {
        margin-bottom: 20px;
        font-weight: 600;
      }
      svg {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 28px;
        color: #7e7e7e;
        &:hover {
          color: #222121;
        }
      }
    }
    p {
      color: #7e7e7e;
      font-size: 15px;
      margin-bottom: 25px;
      font-weight: 500;
      span {
        color: #222121;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;

      input {
        font-size: 16px;
        display: block;
        width: 360px;
        padding: 15px 20px;
        margin-bottom: 15px;
        border: none;
        border-radius: 4px;
        background-color: #f5f5f5;
        &:focus {
          outline: none;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          border: #4e7660 3px solid;
          opacity: 0.5;
        }
      }
      .password-container {
        position: relative;

        .eye-icon {
          position: absolute;
          right: 15px;
          top: 43%;
          transform: translateY(-50%);
          cursor: pointer;
          color: #7e7e7e;
          font-weight: 500;
        }
      }
    }

    .signin-button {
      background-color: black;
      color: #fff;
      font-size: 16px;
      width: 360px;
      padding: 15px 20px;
      margin-bottom: 15px;
      border: none;
      border-radius: 3px;
      &:hover {
        background-color: #4e7660;
        cursor: pointer;
        color: #fff;
      }
    }
    .or {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before,
      &::after {
        height: 0.5px;
        opacity: 0.5;
        margin: 0px 6px;
        flex: 1;
        background-color: #7e7e7e;
        content: "";
      }
    }
    .google-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: #fff;
      font-size: 16px;
      width: 360px;
      padding: 15px 20px;
      margin-bottom: 15px;
      border: none;
      border-radius: 3px;
      &:hover {
        background-color: #4e7660;
        cursor: pointer;
        color: #fff;
      }
      svg {
        margin: 0px 7px;
        font-size: 24px;
      }
    }
  }
}

// /* Add more CSS to style your authentication page as desired */
